elpa
tutorial
auto-save-list
.cache
workspace
.lsp-session-v1
request
transient
*.gitignore#
recentf
.dap-breakpoints
projectile-bookmarks.eld
/bookmarks
/.#init.el
/flycheck_init.el
org-clock-save.el
projectile.cache
eshell
.youdao
custom.el
.mc-lists.el
url
.org-id-locations
qr_RCKRdP.el
network-security.data
.org-id-locations
.gradle
smex-items
