elpa
tutorial
auto-save-list
.cache
workspace
.lsp-session-v1
request
transient
*.gitignore#
recentf
.dap-breakpoints
projectile-bookmarks.eld
/bookmarks
/.#init.el
/flycheck_init.el
org-clock-save.el
projectile.cache
smex-items
